Repository zazuko/barnard59, pull requests merged in 2024-01, with the labels that each got.

#249 Update authors
  packages/base/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/cube/package.json
  packages/formats/package.json
  packages/ftp/package.json
  packages/graph-store/package.json
  packages/http/package.json
  packages/rdf/package.json
  packages/sparql/package.json
Labels: ⚡️ CLI, ⚙️ base, 🎯 core, 🪝 formats, 🌎 ftp, 📊 graph store, ⛓️ rdf, 🧲 sparql, 🧊 cube

#248 Bundle types for barnard59-base
  .changeset/lucky-cougars-design.md
  .changeset/nasty-toys-draw.md
  .github/workflows/ci.yaml
  package-lock.json
  package.json
  packages/base/combine.js
  packages/base/concat.js
  packages/base/filter.js
  packages/base/flatten.js
  packages/base/forEach.js
  packages/base/glob.js
  packages/base/index.js
  packages/base/json.js
  packages/base/limit.js
  packages/base/map.js
  packages/base/nul.js
  packages/base/offset.js
  packages/base/package.json
  packages/base/process.js
  packages/base/toString.js
  packages/base/tsconfig.json
  packages/core/index.ts
  packages/core/lib/factory/arguments.ts
  packages/core/lib/factory/operation.ts
  packages/core/lib/factory/step.ts
  packages/core/package.json
  packages/csvw/package.json
  packages/cube/package.json
  packages/env/package.json
  packages/env/tsconfig.json
  packages/formats/package.json
  packages/ftp/package.json
  packages/graph-store/package.json
  packages/http/package.json
  packages/rdf/package.json
  packages/s3/package.json
  packages/s3/tsconfig.json
  packages/shacl/package.json
  packages/sparql/package.json
  tsconfig.json
Labels: ⚙️ base

#247 Generators
  .changeset/empty-clocks-tan.md
  .changeset/nine-rice-approve.md
  .changeset/odd-cobras-report.md
  packages/base/Readable.js
  packages/base/limit.js
  packages/base/manifest.ttl
  packages/base/offset.js
  packages/base/package.json
  packages/base/test/Readable.test.js
  packages/base/test/concat.test.js
  packages/base/test/flatten.test.js
  packages/base/test/glob.test.js
  packages/base/test/limit.test.js
  packages/base/test/offset.test.js
  packages/base/toReadable.js
  packages/core/lib/factory/operation.ts
  packages/core/lib/factory/step.ts
  test/e2e/definitions/limit-offset.ttl
  test/e2e/package.json
  test/e2e/pipeline.e2e.test.js
Labels: ⚙️ base, 🎯 core

#241 Batch operation
  .changeset/young-geese-teach.md
  packages/base/batch.js
  packages/base/manifest.ttl
  packages/base/test/batch.test.js
  packages/cube/lib/batch.js
  packages/cube/pipeline/check-observations.ttl
Labels: ⚙️ base, 🧊 cube

#226 Constraint builders
  .changeset/modern-houses-chew.md
  package-lock.json
  packages/cube/lib/cube/buildCubeShape/Cube.js
  packages/cube/lib/cube/buildCubeShape/Dimension.js
  packages/cube/lib/cube/buildCubeShape/constraintBuilder/CompositeConstraintBuilder.js
  packages/cube/lib/cube/buildCubeShape/constraintBuilder/DatatypeConstraintBuilder.js
  packages/cube/lib/cube/buildCubeShape/constraintBuilder/DimensionConstraintsBuilder.js
  packages/cube/lib/cube/buildCubeShape/constraintBuilder/NodeKindConstraintBuilder.js
  packages/cube/lib/cube/buildCubeShape/constraintBuilder/RangeConstraintBuilder.js
  packages/cube/lib/cube/buildCubeShape/constraintBuilder/ValuesConstraintBuilder.js
  packages/cube/lib/cube/buildCubeShape/index.js
  packages/cube/package.json
  packages/cube/test/cube.test.js
  packages/cube/test/cube/buildCubeShape.test.js
  packages/cube/test/cube/constraintBuilder.test.js
  packages/cube/test/cube/constraintBuilder/DatatypeConstraintBuilder.test.js
  packages/cube/test/cube/constraintBuilder/DimensionConstraintsBuilder.test.js
  packages/cube/test/cube/constraintBuilder/NodeKindConstraintBuilder.test.js
  packages/cube/test/cube/constraintBuilder/RangeConstraintBuilder.test.js
  packages/cube/test/cube/constraintBuilder/ValuesConstraintBuilder.test.js
  packages/cube/test/cube/constraintBuilder/support.js
Labels: 🧊 cube
