Repository zazuko/barnard59, pull requests merged in 2024-04, with the labels that each got.

#288 build(deps): update rdf-validate-shacl
  .changeset/fresh-ducks-tan.md
  package-lock.json
  packages/cube/package.json
  packages/shacl/package.json
Labels: ⛓️ shacl, 🧊 cube

#282 sparql-http-client v3
  .changeset/curvy-spiders-applaud.md
  .changeset/eight-badgers-juggle.md
  .changeset/quick-lamps-pull.md
  .changeset/serious-feet-nail.md
  .changeset/strong-files-remain.md
  package-lock.json
  packages/base/limit.js
  packages/cube/package.json
  packages/graph-store/get.js
  packages/graph-store/lib/SinkToWritable.js
  packages/graph-store/lib/graph.js
  packages/graph-store/lib/unpromiseReadable.js
  packages/graph-store/package.json
  packages/graph-store/pipeline/put.ttl
  packages/graph-store/post.js
  packages/graph-store/put.js
  packages/graph-store/test/get.test.js
  packages/graph-store/test/pipeline.test.js
  packages/graph-store/test/post.test.js
  packages/graph-store/test/put.test.js
  packages/graph-store/test/support/data.js
  packages/graph-store/test/support/data.ttl
  packages/graph-store/test/support/docker-compose.yml
  packages/graph-store/test/support/fuseki/config.ttl
  packages/graph-store/test/support/pipelines/large-dataset.ttl
  packages/rdf/package.json
  packages/shacl/package.json
  packages/sparql/construct.js
  packages/sparql/inMemory.js
  packages/sparql/package.json
  packages/sparql/select.js
  packages/sparql/test/construct.test.js
  packages/sparql/test/inMemory.test.js
  packages/sparql/test/select.test.js
  packages/sparql/tsconfig.json
Labels: ⚙️ base, 📊 graph store, 🧲 sparql, ⛓️ shacl

#292 optimize human readable report
  .changeset/eleven-deers-rescue.md
  packages/shacl/lib/report.js
Labels: ⛓️ shacl
